<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址编辑页面</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./public/common/ajaxForm.js"></script>
    <style>
    .tip{position:fixed;top:50%;left:50%;background:#3A81C4;color:#fff;border-radius:6px;font-size:13px;box-shadow:3px 3px 15px #6b6969;z-index:1000;}
    .tip-wrap{margin:10px 30px;}
    </style>
</head>
<body>
    管理收货地址
    <form method="post" action="/shop/index.php?c=user&a=addrEditExec" id="addrForm">
        <input id="address" type="hidden" name="address" />
        收件人：<input type="text" value="<?=$data['consignee']?>" name="consignee" />
        收件地区：<select id="province"></select><select id="city"></select><select id="area"></select>
        详细地址：<input id="addr" type="text" />
        手机：<input type="text" value="<?=$data['phone']?>" name="phone" />
        邮箱：<input type="text" value="<?=$data['email']?>" name="email" />
        <input type="submit" value="保存" id="submit" />
        <input type="button" value="取消" onclick="location.href='/shop/index.php?c=user&a=addr'" />
    </form>
    <script src="./public/home/chinaArea.js"></script>
    <script>
    //填充地区三级下拉菜单
    (function(){
        var data = chinaArea();//载入JSON地区数据
        var $province = $("#province");
        var $city = $("#city");
        var $area = $("#area");
        //1级下拉菜单的change事件
        $province.change(function(){
            var id = $(this).val();
            if(id==="0" || $(this).find('option:selected').text()==="其他"){
                $city.hide();
                $area.hide();
            }else{
                fillSelect($city,data[id].sub);
                $city.show();
                $area.hide();
            }
        });
        //2级下拉菜单的change事件
        $city.change(function(){
            var id = $(this).val();
            var pid = $province.val();
            if(id==="0" || $(this).find('option:selected').text()==="其他"){
                $area.hide();
            }else if(data[pid].sub[id].sub!==undefined){
                fillSelect($area,data[pid].sub[id].sub);
                $area.show();
            }
        });
        fillSelect($province,data);//自动填充1级菜单
        $province.change();//自动载入第1个下拉菜单
        //自动填充下拉菜单
        function fillSelect($select,data){
            $select.html('');//清空原有的数据
            for(var i in data){
                $select.append('<option value="'+i+'">'+data[i].name+'</option>');
            }
        }
    })();

    //自动填写收货地址
    (function(){
        var auto = <?=json_encode($data['area'])?>;//自动切换到修改前填写的数据
        if(auto.length>3){
            $("#province").find('option:contains("'+auto[0]+'")').attr("selected","selected").change();
            $("#city").find('option:contains("'+auto[1]+'")').attr("selected","selected").change();
            $("#area").find('option:contains("'+auto[2]+'")').attr("selected","selected");
            $("#addr").val(auto[3]);
        }
    })();   

    //提交表单时检查并拼接完整地址
    $("#submit").click(function(){
        var pro_val = $("#province:visible").find("option:selected").text();
        var city_val = $("#city:visible").find("option:selected").text();
        var area_val = $("#area:visible").find("option:selected").text();
        var addr = $("#addr").val();
        if(pro_val === '请选择' || city_val === '请选择' || area_val === '请选择' || $.trim(addr) === ""){
            $.showTip("请输入正确的地址");
            return false;
        }
        $("#address").val(pro_val+','+city_val+","+area_val+","+addr);
    }); 
    $("#addrForm").ajaxForm();
    </script>
</body>
</html>