<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品展示页</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./public/common/ajaxForm.js"></script>
    <style>
    .tip{position:fixed;top:50%;left:50%;background:#3A81C4;color:#fff;border-radius:6px;font-size:13px;box-shadow:3px 3px 15px #6b6969;z-index:1000;}
    .tip-wrap{margin:10px 30px;}
    </style>
</head>
<body>
    当前位置：
    <?php foreach($data['path'] as $v): ?>
        <a href="/shop/index.php?a=find&cid=<?=$v['id']?>"><?=$v['name']?></a>&gt;
    <?php endforeach;?>
    <?=$data['goods']['name']?>
    <!--引入商品相册-->
    <?php //require COMMON_VIEW.'album.html';?>
    <?=$data['goods']['name']?>
    售价：<span class="price">￥<?=$data['goods']['price']?></span>
    商品编号：<?=$data['goods']['sn']?>
    累计销量：1000
    评价：1000
    配送至：北京（免运费)
    购买数量：
    <input type="button" value="-" class="cnt-btn"/>
    <input type="text" value="1" id="num" class="num-btn" />
    <input type="button" value="+" class="cnt-btn" />
    (库存：<?=$data['goods']['stock']?>)
    <a href="#" id="buy">立即购买</a>
    <a href="#" id="addCart">加入购物车</a>
    相关商品推荐
    <?php foreach($data['recommend'] as $v): ?>
        <a href="/shop/index.php?a=goods&id=<?=$v['id']?>" target="_blank">
        <?php if($v['thumb']): ?>
            <img src="/public/upload/small/<?=$v['thumb']?>" />
        <?php else:?>
            <img src="/public/home/images/preview.jpg" />
        <?php endif;?>
        </a>
        <a href="/shop/index.php?a=goods&id=<?=$v['id']?>" target="_blank"><?=$v['name']?></a>
    <?php endforeach;?>
    商品详情<?=$data['goods']['desc']?>
    <script>
(function(){
	var $num = $("#num");
	var id = <?=$data['goods']['id']?>;
	var stock = <?=$data['goods']['stock']?>;
	//购买数量加减
	$(".cnt-btn").click(function(){
		var num = parseInt($num.val());
		if ($(this).val() === '-') {
			if ( num=== 1) return;
			$num.val(num-1);
		}else if ($(this).val() === '+') {
			if (num === stock) return;
			$num.val(num+1);
		}
	});
	//自动纠正购买数量
	$num.keyup(function(){
		var num = parseInt($(this).val());
		if(num<1){
			$(this).val(1);
		}else if(num > stock){
			$(this).val(stock);
		}
	});
	//添加购物车
	$("#addCart").ajaxButton("/shop/index.php?c=cart&a=addExec",function(){
		return {"id":id,"num":$num.val()};
	});
	//购买（下订单）
	$("#buy").ajaxButton("/shop/index.php?c=order&a=addExec",function(){
		return {"buy":[{"id":id,"num":$num.val()}]};
	});
})();
</script>
</body>
</html>